---
title: PropertyWebBuilder
---


<!-- Banner -->
<section id="banner">
  <div class="content">
    <header>
      <h2>PropertyWebBuilder</h2>
      <p>
        Open Source and FREE!</p>
      <p>The smartest way to create<br />
        an amazing real estate website.</p>
    </header>
    <span class="image"><img src="images/pwb_logo_image.svg" alt="" /></span>
  </div>
  <a href="#one" class="goto-next scrolly">Next</a>
</section>
<!-- One -->
<section id="one" class="spotlight style1 bottom" style="display:block;">
  <span class="image fit main"><img src="images/terraced-houses-2.jpeg" alt="" /></span>
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="4u 12u$(medium)">
          <header>
            <h2>Your own property listing website</h2>
            <p>Packed with features</p>
          </header>
        </div>
        <div class="4u 12u$(medium)">
          <p>It may be free but make no mistake, PropertyWebBuilder provides you a website that is as powerful as one you might pay hundreds of dollars for.
          <br>
          As more people use it, the product improves and everyone benefits.
          </p>
        </div>
        <div class="4u$ 12u$(medium)">
          <p>
            Many estate agents use WordPress for their websites to save money but it was designed as a blogging platform and does not do this job well.
            </p>
          <p> <a target="_blank" href="https://smallbusinessforum.co/why-an-alternative-to-wordpress-is-needed-for-real-estate-websites-ff82de096d93#.icvz8j10z">Read more about why WordPress is a bad choice for real estate websites here.</a></p>
        </div>
      </div>
    </div>
  </div>
  <a style="display:none;" href="#two" class="goto-top scrolly">Top</a>
</section>
<!-- Four -->
<section id="four" class="wrapper style1 special fade-up">
  <div class="container">
    <header class="major">
      <h2>Finally, a great Open Source solution for realtors</h2>
      <p>You no longer have to rely on WordPress or expensive propriety software for your website</p>
    </header>
    <div class="box alt">
      <div class="row uniform">
        <section class="4u 6u(medium) 12u$(xsmall)">
          <span class="icon alt major fa-github"></span>
          <h3>Open Source</h3>
          <p style="display: none;">Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
        </section>
        <section class="4u 6u$(medium) 12u$(xsmall)">
          <span class="icon alt major fa-globe"></span>
          <h3>Multilingual</h3>
          <p style="display: none;">Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
        </section>
        <section class="4u$ 6u(medium) 12u$(xsmall)">
          <span class="icon alt major fa-mobile"></span>
          <h3>Mobile Friendly</h3>
          <p style="display: none;">Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
        </section>
        <section class="4u 6u$(medium) 12u$(xsmall)">
          <span class="icon alt major fa-gears"></span>
          <h3>Intuitive Admin Panel</h3>
          <p style="display: none;">Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
        </section>
        <section class="4u 6u(medium) 12u$(xsmall)">
          <span class="icon alt major fa-wrench"></span>
          <h3>Easy to customise</h3>
          <p style="display: none;">Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
        </section>
        <section class="4u$ 6u$(medium) 12u$(xsmall)">
          <span class="icon alt major fa-map-o"></span>
          <h3>Google maps integration</h3>
          <p style="display: none;">Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
        </section>
      </div>
    </div>
    <footer class="major">
      <ul class="actions">
        <li><a href="https://heroku.com/deploy?template=https://github.com/etewiah/pwb-for-heroku" class="button">Create Your Free Website</a></li>
      </ul>
    </footer>
  </div>
</section>
<!-- Two -->
<section id="two" class="spotlight style2 right">
  <span class="image fit main"><img src="images/single-prop.jpg" alt="" /></span>
  <div class="content">
    <header>
      <h2>Free in every way</h2>
      <p>You don't have to pay and you are free to change the code</p>
    </header>
    <p>The beauty of open source products is that they are free of the restrictions that come with propriety software.  Everyone is able to dig into the code and improve it.  </p>
    <ul class="actions">
      <li><a href="https://github.com/etewiah/property_web_builder" class="button">Show me the code</a></li>
    </ul>
  </div>
  <a href="#three" class="goto-next scrolly">Next</a>
</section>
<!-- Three -->
<section id="three" class="spotlight style3 left">
  <span class="image fit main bottom"><img src="images/rerenting-landing.jpg" alt="" /></span>
  <div class="content">
    <header>
      <h2>Try it out yourself</h2>
      <p>You don't need an IT department to get started</p>
    </header>
    <p>PropertyWebBuilder has been designed so anyone can use it. We recommend using Heroku to host your site as they offer a generous free tier and make it easy to scale up as you need it.</p>
    <p>Just click the button below and you will have your website up and running in minutes.</p>
    <ul class="actions">
      <li><a class="deploy-btn" href="https://heroku.com/deploy?template=https://github.com/etewiah/pwb-for-heroku"><img src="https://camo.githubusercontent.com/83b0e95b38892b49184e07ad572c94c8038323fb/68747470733a2f2f7777772e6865726f6b7563646e2e636f6d2f6465706c6f792f627574746f6e2e737667" alt="Deploy" data-canonical-src="https://www.herokucdn.com/deploy/button.svg" style="max-width:100%;"></a></li>
    </ul>
  </div>
  <!-- <a href="#four" class="goto-next scrolly">Next</a> -->
</section>
<!-- Five -->
<section id="five" class="wrapper style2 fade" >
  <div class="container info-container">
    <header>
      <h2>Make PropertyWebBuilder even better</h2>
    </header>
    <p style="display:none;"></p>
    <p>As an open source project PropertyWebBuilder relies on help from people like you. Your feedback and support help improve the product. We are always on the look out for people to improve the code, help with documentation or simply spread the word.</p>
    <p>If you would like to help please send us a <a href="https://twitter.com/messages/compose?recipient_id=756404545551556608"  target="_blank">twitter message </a> or <a href="https://github.com/etewiah/property_web_builder/issues/"  target="_blank">open an issue</a> on GitHub and we'll go from there!</p>
    <p>Features coming soon to PropertyWebBuilder include:</p>
    <ul>
      <li>Mobile client app (for iOS and android).</li>
      <li>Instant price conversions into other currencies.</li>
      <li>Calendering functionality for rental properties.</li>
      <li>Support for importing MLS content (RETS in the USA).</li>
      <li>Neighbourhood information from third party APIs.</li>
      <li>More languages and themes.</li>
    </ul>
    <form method="post" action="#" class="container 50%" style="display:none;">
      <div class="row uniform 50%">
        <div class="8u 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="Your Email Address" /></div>
        <div class="4u$ 12u$(xsmall)"><input type="submit" value="Get Started" class="fit special" /></div>
      </div>
    </form>
  </div>
</section>
